<app-sidebar></app-sidebar>

<div class="depth">
    <img src="../../../assets/img/Gallery/background1.jpg" class="bg-img" alt="placeholder">
    <div class="overlay">
    </div>

<!------------------------------ Activity ------------------------------------->
    <div class="col-sm-60">
        <mdb-card class="mb-4 wow fadeIn" style="max-height:100px;border: solid #112;">
            <mdb-card-body class="d-sm-flex justify-content-between"  style="background-color: #223;" >
                <div class="col-lg-2 d-flex justify-content-center">
                    <div style="padding-top: 8px;">
                        <i class="fas fa-user-tie text-white fa-3x"></i>
                    </div>
                </div>
                <div class="col-lg-10">
                    <h3 class="mb-sm-0 pt-3 text-white"> The Activity Log  </h3>
                </div>
            </mdb-card-body>
        </mdb-card>

        <div class="col-md-12 col-lg-12 col-sm-12 ">
            <div style="padding: 30px;background-color: #223;">   

                <table class="table">
                    <thead class="white-text">
                        <tr>
                        <th scope="col">Admin Name</th>
                        <th scope="col">Admin ID</th>
                        <th scope="col"> Time </th>
                        <th scope="col">Action</th>
                        <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  class="text-white" *ngFor= "let Log of actLog">
                            <td> <strong> {{Log.adminName}}</strong> </td>
                            <td> <strong> {{Log.adminId}}  </strong>  </td>
                            <td> <strong> {{Log.time}} </strong> </td>
                            <td> <strong> {{Log.action}}</strong>  </td>
                            <td> <strong> {{Log.log}} </strong> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    
    </div> 
</div>
