.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100% ;
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    // background: #1C1D21;
    background : #eee ;
    height: 100% ;
}

.button-cus{
    // background:transparent;
    border:none; 
    font-size : 90% ;
    color: white;
    font-family: roboto ;
} 

.btn-cus{
    background-color: royalblue;
    font-size: 150%;
}

.form-font{
    font-size: 90%;
}