@media (max-width: 1199.98px) {
    .depth{
        padding-left: 30px;
        padding-right: 30px ;
    }
}

@media (min-width: 1199.98px) {
    .depth{
        padding-left:275px;
    }
}

.image{

  background-color: red($color: #000000);

}
