<app-user-sidebar></app-user-sidebar>

<div class="depth" style="padding-top: 70px;height: 100vh;">
    <img src="../../../assets/img/Gallery/background1.jpg" alt="placeholder" class="bg-img">
    <div class="overlay"></div>

    <!-- ---------------------- Ongoing bookings----------------- -->

    <div class="card" style="padding:30px;background-color: #eee;" id="onGoing">
      <div class="col-lg-12" style="font-family:Roboto;background-color: #eee;padding-right: 30px">
        <div class="text-center">
          <h3 class="mb-sm-0 pt-3" style="padding-top: 15px;padding-bottom: 15px;">Ongoing Booking Information </h3>
        </div>
        <div class="d-flex "  style="padding-left: 30px;">
          <table class="table table-striped ">
            <thead class="" style="background-color: #eee;">
              <tr>
                <th> Date</th>
                <th> Event Name</th>
                <th> Event Professional</th>
                <th> Event Type</th>
                <th> Customer Name</th>
                <th> Location</th>
                <th> Customer Mail</th>
                <th> </th> 
              </tr>
              <tr *ngFor = "let booking of bookinglist2">
                <td>{{booking.Date}}</td>
                <td>{{booking.eName}}</td>
                <td>{{booking.profName}}</td>
                <td>{{booking.eventType}}</td>
                <td>{{booking.userName}}</td>
                <td>{{booking.district}} , {{booking.city}}</td>
                <td>{{booking.userMail}}</td>
                <td>
                  <div *ngIf="booking.cancel === 'true'" >
                    <button (click)="changeStatus(booking.bid,'cancelled')" type="button" style="border-width: 5px; padding: 4px;" class="btn btn-danger">Cancel</button>
                  </div>
                </td>
              </tr>
            </thead>
          </table>
          <br><br><br><br><br><br>
        </div>
      </div>
    </div>
    <!-- ---------------------- Ongoing bookings ends----------------- -->

    <!-- ---------------------- Completed bookings----------------- -->

    <div  class="card" style="padding:30px;background-color: #eee;" id="onGoing">
      <div class="col-lg-12" style="font-family:Roboto;background-color: #eee;padding-right: 30px">
        <div class="text-center">
          <h3 class="mb-sm-0 pt-3" style="padding-top: 15px;padding-bottom: 15px;">Completed Booking Information </h3>
        </div>
        <div class="d-flex "  style="padding-left: 30px;">
          <table class="table table-striped ">
            <thead class="" style="background-color: #eee;">
              <tr>
                <th> Date</th>
                <th> Event Name</th>
                <th> Event Professional</th>
                <th> Event Type</th>
                <th> Customer Name</th>
                <th> Location</th>
                <th> Customer Mail</th>
                <th> Complete Status</th>
              </tr>
              <tr *ngFor = "let booking of bookinglist3">
                <td>{{booking.Date}}</td>
                <td>{{booking.eName}}</td>
                <td>{{booking.profName}}</td>
                <td>{{booking.eventType}}</td>
                <td>{{booking.userName}}</td>
                <td>{{booking.district}} , {{booking.city}}</td>
                <td>{{booking.userMail}}</td>
                <td>{{booking.status}} </td>
              </tr>
            </thead>
          </table>
          <br><br><br><br><br><br>
        </div>
      </div>
    </div>
    <!-- ---------------------- Completed bookings ends----------------- -->

</div>