@media (max-width: 1199.98px) {
    .depth{
        padding-left: 30px;
        padding-right: 30px ;
    }
}

@media (min-width: 1199.98px) {
    .depth{
        padding-left:300px;
    }
}

.bg-img {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh ;
    width: 100vw;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .95;
    background: #112;
    height: 100vh ;
}
