<app-sidebar></app-sidebar>

<div class="depth">
    <img src="../../../assets/img/Gallery/background1.jpg" class="bg-img" alt="placeholder">
    <div class="overlay">
    </div>

    <div class="col-sm-60"  style="font-family:Roboto;padding-right:30px;">

<!-------------------- Row with Overview Details ------------------------>

        <div class="row">
            <!-- Total Users -->
            <div class="col-md-6 col-lg-4 col-sm-12 " >
                <div class="card detail-card">
                    <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">
                        <div class="text-white d-flex blue-gradient-rgba">
                            <div class="p-3">
                                <h3 class="card-title card-top">Total Users</h3>
                            </div>
                            <div class="align-self-center mx-auto">
                                <i class="fas fa-users fa-3x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="ml-auto mr-4 mb-2">
                    <h1 class="text-center card-text" style="color: slateblue;">{{totalCount}}</h1>
                    </div>
                </div>
            </div>

            <!-- Total Ongoing Bookings -->
            <div class="col-md-6 col-lg-4 col-sm-12 ">
                <div class="card detail-card">
                    <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">
                        <div class="text-white d-flex peach-gradient-rgba">
                            <div class="p-3">
                                <h3 class="card-title card-top">Ongoing Bookings</h3>
                            </div>
                            <div class="align-self-center mx-auto">
                                <i class="fas fa-briefcase fa-3x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="ml-auto mr-4 mb-2">
                        <h1 class="text-center card-text" style="color:#F55;">{{bookingCount}}</h1>
                    </div>
                </div>
            </div>

            <!-- Total Professionals -->
            <div class="col-md-6 col-lg-4 col-sm-12 "  >
                <div class="card detail-card">
                    <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">
                        <div class="text-white d-flex aqua-gradient-rgba ">
                            <div class="p-3">
                            <h3 class="card-title card-top">Total Professionals</h3>
                            </div>
                            <div class="align-self-center mx-auto">
                            <i class="fas fa-briefcase fa-3x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="ml-auto mr-4 mb-2">
                        <h1 class="text-center card-text" style="color: #38A;">{{profCount}}</h1>
                    </div>
                </div>
            </div>
        </div>

<!-------------------- Ongoing Bookings ------------------------>
        
        <!-- Bookings topic header -->
        <div style="padding-top:30px ;">
            <mdb-card class="mb-4 wow fadeIn" style="max-height:100px;border: solid #223;">
                <mdb-card-body class="d-sm-flex justify-content-between"  style="background-color: #223;" >
                    <div class="col-lg-1 d-flex justify-content-center">
                        <i class="fas fa-book fa-3x text-white"></i>
                    </div>
                    <div class="col-lg-11">
                        <h3 class="mb-sm-0 pt-3 text-white"> On Going bookings </h3>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>

        <!-- Bookings table retrieval -->
        <div class="col-md-12 col-lg-12 col-sm-12 ">
            <div style="padding-right:30px;padding-top:30px;background-color: #223;">   
                <div class="d-flex "  style="padding-left: 30px;">
                    <table class="table table-striped ">
                        <thead class="text-white" style="background-color: #223">
                            <tr>
                            <th> Date</th>
                            <th> Event Name</th>
                            <th> Event Type</th>
                            <th> Professioal Name</th>
                            <th> Professional Mail</th>
                            <th> Customer Name</th>
                            <th> Customer Mail</th>
                            <th> Location</th>
                            </tr>
                            <tr *ngFor = "let booking of bookings">
                            <td>{{booking.Date}}</td>
                            <td>{{booking.eName}}</td>
                            <td>{{booking.eventType}}</td>
                            <td>{{booking.profName}}</td>
                            <td>{{booking.profMail}}</td>
                            <td>{{booking.userName}}</td>
                            <td> {{booking.userMail}}</td>
                            <td>{{booking.district}} , {{booking.city}}</td>
                            </tr>
                        </thead>
                    </table>
                    <br><br><br><br><br><br>
                    </div>
                    
            </div>
        </div>

<!-------------------- Event Professional Requests ------------------------>


<div style="padding-top:30px ;">
            <mdb-card class="mb-4 wow fadeIn" style="max-height:100px;border: solid #223;">
                <mdb-card-body class="d-sm-flex justify-content-between"  style="background-color: #223;" >
                    <div class="col-lg-1 d-flex justify-content-center">
                        <i class="fas fa-user-tie fa-3x text-white"></i>
                    </div>
                    <div class="col-lg-11">
                        <h3 class="mb-sm-0 pt-3 text-white"> Event Professional Requests </h3>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 ">
            <div style="padding: 30px;background-color: #223;">   

                <table class="table">
                    <thead class="white-text">
                        <tr>
                            <th scope="col">User Name</th>
                            <th scope="col">Event Type</th>
                            <th scope="col">Professional Type</th>
                            <th scope="col">Email</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Spectial Notes</th>
                            <th scope="col"> Response </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  class="text-white" *ngFor= "let req of requests">
                            <td> <strong> {{req.displayName}}</strong>  </td>
                            <td> <strong> {{req.eType}} </strong> </td>
                            <td> <strong> {{req.eProf}} </strong> </td>
                            <td> <strong> {{req.email}} </strong> </td>
                            <td> <strong> {{req.contact}}</strong>  </td>
                            <td> 
                                <button mdbBtn color="primary" size="sm"  type="submit" class="btn-sm text-danger waves-light" data-toggle="modal" data-target="#basicExample"(click)="showFrame(req, frame1);" mdbWavesEffect > View </button>
                            </td>
                            <td>
                                <a class="btn-sm text-danger"> 
                                    <i class="fas fa-user-check btn-info rounded " style="padding: 10px;" (click)="changeStatus1(req.uid)"> </i>
                                </a> 
                                <a class="btn-sm text-danger"> 
                                    <i class="fas fa-user-times btn-danger rounded " style="padding: 10px;" (click)="changeStatus2(req.uid)"> </i>
                                </a> 
                                <a class="btn-sm text-danger"> 
                                    <i class="fas fa-search btn-primary rounded " style="padding: 10px;" [routerLink]="['/View/'+req.uid]"> </i>
                                </a> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div mdbModal #frame1="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-dialog-centered  modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center" >
                <p class="heading lead white-text"> <strong> Description and Special Notes </strong> </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame1.hide()">
                    <span aria-hidden="true" class="white-text">×</span>    
                </button>
            </div>  
            <div class="modal-body">
                
                <h5> Note : </h5>
                <p> {{ms}} </p>      
            </div>
        </div>
    </div>
</div>

