<app-user-sidebar></app-user-sidebar>

<div class="depth" style="padding-top: 70px;height: 100vh;">
    <img src="../../../assets/img/Gallery/background1.jpg" class="bg-img" alt="placeholder">
<div class="overlay"></div>

    <div class="d-flex justify-content-center" style="padding-bottom: 30px;padding-right: 30px;padding-top: 30px;">
        <div class="col-lg-7 rounded" style=" color:#223; background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);" >
            <div class="text-center">
                <h3> <strong> Event Professional Request </strong></h3>
            </div>
            <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

                
                <input type="hidden" name="id" #id="ngModel" [(ngModel)]="users.userData.id">
                
                
                <mat-form-field class="col-lg-6 col-md-6 col-sm-6">
                    <input matInput disabled placeholder="First Name" name="firstName" #firstName="ngModel"  value="{{this.Log.firstName}}" [(ngModel)]="users.userData.firstName" required > 
                </mat-form-field> 

                <mat-form-field class="col-lg-6 col-md-6 col-sm-6">
                    <input disabled matInput placeholder="Last Name"  name="lastName" #lastName="ngModel" value="{{this.Log.lastName}}" [(ngModel)]="users.userData.lastName" required > 
                </mat-form-field>
                
                <mat-form-field class="col-lg-6 col-md-6 col-sm-6">
                    <input disabled matInput placeholder="Email"  name="email" #email="ngModel" value="{{this.Log.email}}" [(ngModel)]="users.userData.email" required > 
                </mat-form-field>
                
                <mat-form-field class="col-lg-6 col-md-6 col-sm-6">
                    <input disabled matInput placeholder="Mobile"  name="contact" #contact="ngModel" value="{{this.Log.contact}}" [(ngModel)]="users.userData.contact"> 
                </mat-form-field>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <select class="mdb-select md-form col-lg-12 custom-select" style="background-color: transparent;" name="eType" #eType="ngModel"  [(ngModel)]="users.userData.eType" > 
                            <option value="" disabled selected>Event Professional</option>
                            <option value="Photographer">Photographer</option>
                            <option value="Videographer">Videographer</option>
                            <option value="Beautician">Beautician</option>
                            <option value="Music">DJ and Bands</option>
                            <option value="Catering">Catering</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <select class="mdb-select md-form col-lg-12 custom-select" style="background-color: transparent;" name="district" #district="ngModel" [(ngModel)]="users.userData.district" > 
                            <option value="" disabled selected> Select District </option>
                            <option value="Ampara"> Ampara </option>
                            <option value="Anuradhapura"> Anuradhapura </option>
                            <option value="Badulla">Badulla</option>
                            <option value="Batticaloa"> Batticaloa </option>
                            <option value="Colombo"> Colombo </option>
                            <option value="Galle">Galle</option>
                            <option value="Gampaha"> Gampaha</option>
                            <option value="Hambantota"> Hambantota </option>
                            <option value="Jaffna"> Jaffna </option>
                            <option value="Kalutara"> Kalutara</option>
                            <option value="Kandy">Kandy</option>
                            <option value="Kegalle">Kegalle</option>
                            <option value="Kilinochchi"> Kilinochchi </option>
                            <option value="Kurunegala"> Kurunegala</option>
                            <option value="Mannar"> Mannar</option>
                            <option value="Matale"> Matale </option>
                            <option value="Matara">Matara</option>
                            <option value="Monaragala">Monaragala</option>
                            <option value="Mulathiv"> Mulathiv </option>
                            <option value="NuwaraEliya">Nuwara Eliya</option>
                            <option value="Polonnaruwa"> Polonnaruwa </option>
                            <option value="Puttalam"> Puttalam</option>
                            <option value="Ratnapura"> Ratnapura</option>
                            <option value="Trincomalee"> Trincomalee</option>
                            <option value="Vavniya"> Vavniya </option>
                        </select>
                    </div>
                </div>


                <mat-form-field class="col-lg-12 col-md-12  col-sm-12">
                    <textarea rows="1" cols="60" matInput placeholder="Description" name="description" #description="ngModel"  [(ngModel)]="users.userData.description" > </textarea>
                </mat-form-field>             
                <button type="submit" class="btn btn-lg btn-block btn-info orange"> Send Request </button>
        
                <div *ngIf="(firstName.invalid && firstName.touched) || (lastName.invalid && lastName.touched) || (email.invalid && email.touched) " class="text-center"> 
                    <h6 style="color: red;padding-top:10px">The highlighted fields are required* </h6> 
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-8" style="padding: 30px;" >
        
    
    
</div>