html {
    scroll-behavior: smooth;
  }
html, body { height: 100%; }
body { margin: 0; //font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: 'Nunito', sans-serif; }


input.ng-touched.ng-invalid{
  border-color: red;
}

div.validation-error{
  width:100%;
  margin-top: .25rem;
  font-size: 80%;
  color: white;
}